@font-face {
  font-family: 'PokemonSolid';
  src: url('/assets/fonts/PokemonSolid.ttf') format('truetype');
}

.navbar-brand {
  font-family: 'PokemonSolid', sans-serif;
  color: #fcfcfc !important;
}