.pokemon-grid {
    display: grid;
    grid-template-columns:repeat(auto-fill,minmax(250px, 1fr));
    gap: 1rem;
}
.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
